@import "tailwindcss";

/* Moving background image animation */
@keyframes moveBgImage {
  0% {
    background-position-x: 0%;
    background-position-y: 50%;
  }
  100% {
    background-position-x: 100%;
    background-position-y: 50%;
  }
}

.hero-bg-animation {
  animation: moveBgImage 60s linear infinite;
  -webkit-animation: moveBgImage 60s linear infinite;
}

/* Carousel scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}